In [ ]:
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html
https://docs.sqlalchemy.org/en/latest/errors.html#error-e3q8
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html

In [8]:
#volcanoes = open('/home/d.hayes/Problem_Set_4/GVP_Eruption_Results.xls')

In [26]:
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, Float, MetaData, ForeignKey
from sqlalchemy import exists
from sqlalchemy import sql, select, join, desc

# Create a sqlite database 
engine = create_engine('sqlite:///volcanoes.sqlite')

metadata=MetaData()

#Making the Volcanoes table
try:
    Volcanoes=Table('Volcanoes', metadata, autoload=True)
except:
    Volcanoes = Table ('Volcanoes', metadata,
                    Column('Volcano Number', Integer),
                    Column('Volcano Name', String, primary_key = True),
                    Column('Eruption Number', Integer),
                    Column('Latitude', Float),
                    Column('Longitude', Float)
                   )

try:
    Volcanoes=Table('Volcanoes', metadata, autoload=True)
except:
    Eruptions = Table ('Eruptions', metadata,
                     #Column(ForeignKey("Volcanoes.Volcano Name")),
                     Column('Eruption Number', Integer),
                     Column('Eruption Category', String),
                     Column('Area of Activity', String),
                     Column('VEI', String),
                     Column('Start Year', Integer),
                     Column('Start Month', Integer),
                     Column('Start Day', Integer),
                     Column('Evidence Method', String),
                     Column('End Year', Integer),
                     Column('End Month', Integer),
                     Column('End Day', Integer)
                    )
                 
metadata.create_all(engine)

In [23]:
#import sqlite3
#df=pd.read_excel("GVP_Eruption_Results.xls.xlsx")

#connection = sqlite3.connect('volcanoes.sqlite')

#df = pd.read_sql_query(sql, connection)
#df.to_sql('Volcanoes', connection)
#engine.execute("SELECT 'Volcano Number' FROM GVP_Eruption_Results.xls.xlsx").fetchall()

import pandas as pd

df = pd.ExcelFile('GVP_Eruption_Results.xls.xlsx').parse('Eruption List');
#Check to make sure df worked:
#print(df.head())

df.to_sql(Volcanoes, engine) 
#df.to_sql(volcanoes, con=engine, index=True, index_label=None, chunksize=None, dtype={"Volcano Number": Integer(),"Volcano Name": String(), "Eruption Number": Integer, "Latitude": Float, "Longitude": Float})

#conn = engine.connect()

AttributeError: 'Table' object has no attribute 'replace'

In [ ]:
conn = engine.connect()

def insert_volcanoes(Volcano Number, Volcano Name, Latitude, Longitude):
    ins=Volcanoes.insert().values(Volcano Number=Volcano Number,
                                  Volcano Name=Volcano Name,
                                  Latitude=Latitude,
                                  Longitude=Longitude)
    result = conn.execute(ins)

for value in df.items(): 
    insert_volcanoes(values())

In [22]:
#volcanoes = open('/home/d.hayes/Problem_Set_4/GVP_Eruption_Results.xls')

reader = pd.DictReader(df)

Volcano_dict={}

# Read through the file and make a dictionary for airport codes.
# This gets a unique list of airport codes.
for Line in reader:
    if Line['VOLCANO NAME'] not in Airport_dict:
        Volcano_dict[Line['VOLCANO NAME']]=[Line['VOLCANO NAME']]

    if Line['VOLCANO NUMBER'] not in Airport_dict:
        Volcano_dict[Line['VOLCANO NUMBER']]=[Line['VOLCANO NUMBER']]

print(Volcano_dict)

AttributeError: module 'pandas' has no attribute 'DictReader'

In [ ]:
SELECT 'Volcano Number'
FROM Volcanoes;
#NO DATA CAME UP